GtkFileChooserDefault .sidebar.view {
  background-color: transparent;
  color: @text_color;
  border-radius: 0px
}

NoiseInfoPanel,
GthSidebar,
GeditPanel,
.sidebar .view,
.sidebar,
.sidebar.view,
.source-list,
.source-list.view {
  background-color: transparent;
}

.sidebar .view.separator,
.sidebar.separator,
.sidebar.view.separator,
.source-list.separator,
.source-list.view.separator {
  color: transparent;
}

.sidebar .view,
.sidebar,
.sidebar.view,
.source-list,
.source-list.view {
  color: #535d6c;
  text-shadow: 0 1px alpha (#fff, 0.9);
  icon-shadow: 0 1px alpha (#fff, 0.9);
}

NoiseInfoPanel:hover,
GthSidebar:hover,
GeditPanel:hover,
.sidebar .view:hover,
.sidebar:hover,
.sidebar.view:hover,
.source-list:hover,
.source-list.view:hover {
  background-color: transparent;
}

NoiseInfoPanel:selected,
GthSidebar:selected,
.sidebar .view:selected,
.sidebar:selected,
.sidebar.view:selected,
.source-list:selected,
.source-list.view:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
  text-shadow: 0 1px alpha (#000, 0.4);
  icon-shadow: 0 1px alpha (#000, 0.4);
}

.sidebar .view:selected:backdrop,
.sidebar:selected,
.sidebar.view:selected:backdrop,
.source-list:selected:backdrop,
.source-list.view:selected:backdrop {
  background-color: shade (@theme_bg_color, 0.87);
  color: @theme_selected_fg_color;
  text-shadow: 0 1px alpha (#fff, 0.2);
  icon-shadow: 0 1px alpha (#fff, 0.2);
}

NoiseInfoPanel:backdrop,
GthSidebar:backdrop,
GtkViewport:backdrop,
GtkStack .view:backdrop,
.sidebar .view:backdrop,
.sidebar:backdrop,
.sidebar.view:backdrop,
.source-list:backdrop,
.source-list.view:backdrop {
  background-color: transparent;
}

.source-list.category-expander:hover {
  color: #535d6c;
}

.source-list.category-expander {
  color: transparent;
}

.source-list.category-expander:backdrop {
  color: transparent;
}

.sidebar .scrollbar.trough,
.sidebar .scrollbar.trough:backdrop {
  box-shadow: none;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.sidebar .scrollbar.trough {
  background-color: @sidebar_scrollbar_trough;
}

.sidebar .scrollbar.trough:backdrop {
  background-color: @sidebar_scrollbar_trough_backdrop;
}

.sidebar .scrollbar.slider {
  background-color: @sidebar_bg;
}

.sidebar .scrollbar.slider:backdrop {
  background-color: @sidebar_bg_unfocused;
}

.sidebar .scrollbar.slider:hover {
  background-color: mix (@sidebar_bg, @theme_base_color, 0.35);
}

.sidebar .scrollbar.slider:hover:active {
  background-color: @theme_base_color;
}

.sidebar .radio,
.sidebar .radio:focus,
.sidebar .radio:selected {
  background-image: none;
  background-color: transparent;
}

.source-list.badge,
.source-list.badge:prelight,
.source-list.badge:selected,
.source-list.badge:prelight:selected {
  background-image: none;
  background-color: #97a5b4;
  color: #fff;
  border-radius: 12px;
  padding: 0 6px;
  margin: 0 3px;
  text-shadow: 0 1px alpha (#000, 0.1);
  icon-shadow: 0 1px alpha (#000, 0.1);
  border-width: 0;
}

.source-list.badge:active,
.source-list.badge:selected,
.source-list.badge:prelight:selected {
  color: #97a5b4;
  background-color: #fff;
}

.source-list.badge:selected:backdrop,
.source-list.badge:selected:prelight:backdrop {
  background-image: none;
  background-color: alpha (#000, 0.2);
  color: shade (@titlebar_color, 0.95);
  text-shadow: 0 1px alpha (#000, 0.1);
  icon-shadow: 0 1px alpha (#000, 0.1);
}

/* Slingshot Applications menu style */

SlingshotSlingshotView > GtkPopover.popover.background {
  background-image: linear-gradient(to bottom,
                                    alpha (#f9f9f9, 0.98),
                                    alpha (#f9f9f9, 0.95) 80%,
                                    alpha (#f0f0f0, 0.95)
                                    );
  background-color: transparent;
}

SlingshotSlingshotView SlingshotWidgetsAppEntry GtkLabel {
  color: #535d6c; /* ISSUE: #29 */
}
